body {
  font-family: sans-serif;
}

#seriesSearch {
  background-color: aliceblue;
  border: 1px solid black;  
  border-collapse: collapse;  
}


.results{
  border-collapse: collapse;
  height:100%;
}

.data {
  flex-grow: 1;
  overflow:hidden;
}
.data h2 {
  margin: 5px;
}
.data p {
  margin: 0px 0px 5px 10px;
}

.description {
  overflow-x:hidden;
}

.entry {
  border-width: 1px 0 0 0;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: row;
  overflow:hidden;
}
.entry p {
  margin: 0px;
}

.thumbnail img {
  height:64px;
  width:64px;
}

.deleteComic {
  text-decoration:none;
  margin: auto;
  margin-right: 0;
  border: black 1px solid;
}